<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkEmail.css" />
    <title>Login</title>
</head>
<body>
    <form class="form form-login" asp-action="CheckEmail" asp-controller="Account" method="post" asp-antiforgery="true">
        <h2 class="main-text">Confirm your email</h2>
        <div class="content">
            <p class="content-text">Write your code here</p>
            <input type="text" name="secretCode" class="input-text" />
        </div>
        <input type="submit" class="input-submit" value="Отправить код">
    </form>
</body>
</html>
