@import url("reset.css");
@import url("fonts.css");

:root {
    --extra-dark: #38220f;
    --light: #DBC1AC;
    --extra-light: #ECE0D1;
    --dark: #634832;
}

body {
    font-family: "Raleway", sans-serif;
    display: grid;
}

.form {
    justify-self: center;
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-color: var(--dark);
    border-radius: 25px;
    display: grid;
}

.main-text {
    margin-top: 25px;
    color: var(--extra-light);
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.content {
    justify-self: center;
    margin-top: 25px;
}

.content-text {
    color: var(--extra-light);
}

.input-text {
    margin-top: 10px;
    opacity: 75%;
    font-size: 12px;
    font-weight: 400;
    width: 250px;
    color: var(--extra-light);
    border: 0;
    border-bottom: var(--extra-light) solid 1px;
    outline: 0;
    background: transparent;
}

.input-submit {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    justify-self: center;
    border-radius: 15px;
    border: 0;
    color: var(--extra-dark);
    background-color: var(--extra-light);
    transition-duration: 0.5s;
}

    .input-submit:hover {
        border: var(--extra-light) solid 1px;
        color: var(--extra-light);
        background-color: var(--dark);
    }

.form-title {
    align-self: start;
    justify-self: center;
    margin-top: 50px;
}

.form-content {
    margin-top: 25px;
    justify-self: center;
}

.form-content__text {
    margin-bottom: 8px;
    text-align: center;
    font-size: 22px;
}

.form-content__input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: #fff solid 1px;
    margin-bottom: 25px;
}

.form-footer {
    text-align: center;
}

.btn-nav {
    border: 0;
    justify-self: center;
    margin-top: 50px;
    text-decoration: none;
    color: var(--extra-dark);
    background-color: var(--extra-light);
    border-radius: 15px;
    width: 225px;
    height: 45px;
    display: grid;
    transition-duration: 0.5s;
}

    .btn-nav:hover {
        color: var(--light);
        background-color: var(--dark);
        border: var(--extra-light) solid 1px;
    }

.btn-nav__text {
    font-weight: bold;
    align-self: center;
    justify-self: center;
}