@import url("reset.css");
@import url("fonts.css");

:root {
    --extra-dark: #38220f;
    --light: #DBC1AC;
    --extra-light: #ECE0D1;
    --dark: #634832;
  }
  body {
    font-family: "Raleway", sans-serif;
  }

  .container {
    max-width: 930px;
    margin: 0 auto;
  }

  .logo {
    padding-top: 20px;
  }

  /* ---------------main---------------- */

.main {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.form {
    width: 930px;
    height: 450px;
    background: var(--dark);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.form-left {
  margin: 0 auto;
}

.wrapper {
  margin-top: 60px;
  display: grid;
}

.form-top {
  margin-top: 20px;
}

.field-wrapper {
  margin: 35px 20px;
  justify-self: center;
  gap: 35px;
  height: 70xp;
  width: 170px;
}

.field {
  height: 20px;
  margin-bottom: 35px;
  display: flex;
  gap: 5px;
}

.field-img {
  width: 20px;
  height: 20px;
  opacity: 50%;
  color: var(--extra-light);
}

.field-text {
  opacity: 75%;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 400;;
  width: 145px;
  color: var(--extra-light);
  border: 0;
  border-bottom: var(--extra-light) solid 1px;
  outline: 0;
  background: transparent;
}

.btn-nav {
  border: 0;
  text-decoration: none;
  color: var(--extra-dark);
  background-color: var(--extra-light);
  border-radius: 15px;
  width: 225px;
  height: 45px;
  display: grid;
  transition-duration: 0.5s;
}

.btn-nav:hover {
  color: var(--light);
  background-color: var(--dark);
  border: var(--extra-light) solid 1px;
}

.btn-nav__text {
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.form-footer {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.text {
  color: var(--extra-light);
  font-size: 12px;
  opacity: 85%;
}

.form-footer__btn {
  text-decoration: none;
  font-size: 12px;
  opacity: 90%;
  color: var(--light);
  transition-duration: 0.2s;
}

.form-footer__btn:hover {
  font-size: 14px;
  opacity: 100%;
}

