@using Is4App.ViewModels
@model LoginUserRequest

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/loginStyle.css" />
    <title>Login</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="#">
                <img class="logo" src="../img/logo.svg" alt="" />
            </a>
        </div>
    </header>

    <main class="main">
        <form asp-action="Login" asp-controller="Account" method="post" class="form">
            <div class="container">
                <img class="form-top" src="../img/CoffeeTime.png" alt="CoffeeTime" />
                <div class="wrapper">
                    <div class="field-wrapper">
                        <div class="field">
                            <img class="field-img" src="../img/person.svg" alt="">
                            <input type="text" placeholder="Логин" asp-for="UserName" class="field-text" />
                        </div>
                        <div class="field">
                            <img class="field-img" src="../img/Password.svg" alt="">
                            <input type="password" placeholder="Пароль" asp-for="Password" class="field-text" />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn-nav btn-nav__text" value="Войти">
                <div class="form-footer">
                    <p class="text">Нет доступа?</p>
                    <a asp-action="Registration" asp-controller="Account" class="form-footer__btn">
                        <p class="">Получить</p>
                    </a>
                </div>
            </div>
            <img src="../img/coffee-bg-log.svg" alt="Image" />
        </form>
    </main>
</body>
</html>